// https://piccalil.li/blog/a-modern-css-reset

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

main {
    min-height: 100vh;
    margin: 0 auto;
}

.main-image img {
    min-width: 100%;
    object-fit: cover;
}

.main-signup {
    margin: calc(40rem/16) calc(24rem/16);
    font-family: 'Roboto', sans-serif;
    color: #242742;
}

.stay-updated-heading, .thank-you-heading {
    font-size: calc(40rem/16);
    margin-bottom: 1.5rem;
}

.stay-updated-description {
    margin-bottom: 1.5rem;
}

.feature-list {
    list-style: none;
    max-width: 80%;
    padding: 0;
    margin-bottom: calc(40rem/16);
}

.feature-list li {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='21' height='21' viewBox='0 0 21 21'%3E%3Cg fill='none'%3E%3Ccircle cx='10.5' cy='10.5' r='10.5' fill='%23FF6155'/%3E%3Cpath stroke='%23FFF' stroke-width='2' d='M6 11.381 8.735 14 15 8'/%3E%3C/g%3E%3C/svg%3E");
    background-repeat: no-repeat;
    padding-left: calc(33rem/16);
    margin-bottom: calc(15rem/16);
}

.email-input-labels {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#valid-required {
  color: #FF6155;
  margin-right: 0.25rem;
}

#email-address {
  border: 1px solid rgba(25, 24, 43, 0.25);
  border-radius: 8px;
}

.email-input input{
  margin-top: 0.5rem;
  margin-bottom: calc(24rem/16);
  display: block;
  width: 92%;
  padding: 1rem 0 1rem calc(24rem/16);
  border-radius: 8px;
  border-color: #D8D8D8;
}

.email-input input:focus {
  outline: none;
}

.email-input label {
  font-size: calc(12rem/16);
  color: #242742;
  font-weight: 800;
}

.submit-form input, .dismiss-message {
  border: none;
  width: 95%;
  background-color: #242742;
  color: white;
  padding: calc(18rem/16) 0 calc(14rem/16) 0;
  font-weight: 600;
  border-radius: 8px;
}

.submit-form {
  text-align: center;
}

.success-icon {
  margin-bottom: calc(40rem/16);
}

.thank-you {
  min-height: 70vh;
  font-family: 'Roboto', sans-serif;
  color: #242742;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: calc(24rem/16);
  margin-left: calc(24rem/16);
}

.main-part-thank-you {
  margin-top: calc(60rem/16);
}

.dismiss-message {
  align-self: center;
  margin-bottom: calc(40rem/16);
}

.hidden2 {
  display: none;
}



@media (min-width: 35rem) {
  main {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #36384D;
  }
  
  .newsletter-card {
    background-color: white;
    border-radius: 40px;
    display: flex;
    overflow: hidden;
    max-width: calc(928rem/16);
    max-height: 40rem;
    flex-direction: row-reverse;
    align-items: center;
  }
  
  .main-image {
    margin: calc(24rem/16) calc(24rem/16) calc(24rem/16) 0;
    min-width: calc(200rem/16);
  }

  .main-signup, .thank-you {
    margin: calc(20rem/16) calc(64rem/16) calc(20rem/16) calc(64rem/16);
  }

  .feature-list {
    max-width: 100%;
  }

  .submit-form input {
    width: 100%;
  }

  .main-image img {
    object-fit: cover;
  }

  

  .stay-updated-heading {
    font-size: calc(56rem/16);
  }

  .submit-form input:hover, .dismiss-message:hover {
    background-image: linear-gradient(45deg, #FF527B, #FF6A3A);
  }
  
  .email-input .error{
    border: 1px solid #FF6155;
    background-color: rgba(255, 97, 85, 0.15);
  }
  
  .email-input .error::placeholder {
    color: #FF6155;
  }

  .thank-you {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .thank-you-card {
    max-height: calc(520rem / 16);
    max-width: calc(504rem / 16);
  }

  .main-part-thank-you {
    margin-top: 2rem;
  }

  .dismiss-message {
    margin-top: calc(40rem/16);
    min-width: 100%;
  }

  .hidden2 {
    display: inline;
  }
  
}

.hidden {
  display: none;
}
